@import "mocha.css";

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 28px;
  padding: 0;
  margin: 0;
}

window#waybar {
  color: @text;
  /* background-color: @crust; */
  background-color: transparent;
  /* border-bottom: 4px solid @mauve; */
}

#window,
#workspaces,
#tags,
#clock,
#cpu,
#memory,
#disk,
#temperature,
#network,
#wireplumber,
#tray,
#mode,
#idle_inhibitor,
#mpris,
#mpd {
  background-color: @base;
  margin: 8px 4px 0 4px;
  padding: 0 10px;
  /* border-radius: 4px; */
}

@keyframes blink-urgent {
  0% { background-color: @base; }
  100% { background-color: @red; }
}

@keyframes blink-hover {
  0% { background-color: @base; }
  100% { background-color: @teal; }
}

#window {
  padding: 0 1em;
  margin: 8px 8px 0 4px;
}

#tags {
  margin: 8px 4px 0 8px;
  padding: 0;
}

#tags button:hover {
  background-color: @base;
  animation: blink-hover 1s ease-in-out infinite alternate;
}
#tags button {
  padding: 0 0.7em;
  color: @surface0;
}
#tags button.occupied {
  color: @text;
}
#tags button.focused {
  color: @green;
}
#tags button.urgent {
  color: @red;
  background-color: @base;
  animation: blink-urgent 1s ease-in-out infinite alternate;
}

#clock {
  color: @red;
  margin: 8px 8px 0 4px;
}

#cpu {
  color: @green;
  min-width: 100px;
}

#memory {
  color: @flamingo;
  min-width: 120px;
}

/* #disk { */
/*     color: #964B00; */
/* } */

#network {
  color: @sapphire;
  min-width: 520px;
}

#network.disconnected {
  color: @blue;
}

#wireplumber {
  color: @pink;
  min-width: 80px;
}

#wireplumber.muted {
  color: @mauve;
  min-width: 80px;
}

#mpris {
  color: @teal;
  min-width: 100px;
}

/* #temperature { */
/*     color: #f0932b; */
/* } */

/* #temperature.critical { */
/*     color: #eb4d4b; */
/* } */
