@import "mocha.css";

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 22px;
}

window#waybar {
  color: @text;
  background-color: @crust;
  border-bottom: 4px solid @mauve;
}

#clock,
#cpu,
#memory,
#disk,
#temperature,
#network,
#wireplumber,
#tray,
#mode,
#idle_inhibitor,
#mpris,
#mpd {
  padding: 0 10px;
  margin: 4px 4px 8px 4px;
  background-color: @base;
}

#window,
#workspaces,
#tags {
  color: @text;
  background-color: @base;
  margin: 4px 0 8px 0;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

#window {
  padding: 0 1em;
}

#tags button:hover {
  background-color: @sky;
  animation: blink 1s infinite;
}
#tags button {
  padding: 0 0.7em;
  color: @surface0;
}
#tags button.occupied {
  color: @blue;
}
#tags button.focused {
  color: @green;
}
#tags button.urgent {
  color: @red;
  animation: blink 1s infinite;
}

#clock {
  color: @red;
  border-right: 0;
}

#cpu {
  color: @green;
  min-width: 100px;
}

#memory {
  color: @flamingo;
  min-width: 100px;
}

/* #disk { */
/*     color: #964B00; */
/* } */

#network {
  color: @sapphire;
  min-width: 350px;
}

#network.disconnected {
  color: @blue;
}

#wireplumber {
  color: @pink;
  min-width: 80px;
}

#wireplumber.muted {
  color: @mauve;
  min-width: 80px;
}

#mpris {
  color: @teal;
  min-width: 100px;
}

/* #temperature { */
/*     color: #f0932b; */
/* } */

/* #temperature.critical { */
/*     color: #eb4d4b; */
/* } */
